body{
    /*background-image: url("../images/bkd.jpg");*/
  font-family: 'Roboto', sans-serif;
  margin: white;
  /*background-image: linear-gradient(#051142,#ccc);*/
  background-image: linear-gradient(#061333,#171a5f);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  /*background-color: #171a5f;*/


}

/*#box {
  z-index: -9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  margin: 0;
  padding: 0;
}*/


.wrapper{
  display:flex;
  justify-content: center;

  /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);*/
  padding: 0 1em 0 1em;
}

header{
  /*position: fixed;*/

  width: 100%;

  /*background-color: rgba(255, 255, 255, 0.5);*/
}
/*#logo {
  image-resolution: from-image;
  height:50px;
  margin-top: -12px;
}*/

.fixed-navbar{
    position: fixed;
    top: 0;
    z-index: 10;


}

nav {
  position: fixed;
  top:0;
  right:0;
  z-index:10000;
}

.navbar-holder{
  /*margin-top: -5em;*/
  height: 3em;
  width: 100%;
}

#logo{
  text-transform: none;
}
nav ul{
  padding: 0;
}

nav li{
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;

}

nav a, #logo{
  text-decoration: none;
  color:white;
  padding: 13px 10px 10px 10px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

nav a:hover{
    color:white;
    border-bottom: 3px solid white;

}

.active{
  /*border-top: 3px solid rgba(0,255,144,1);*/
  color:white;
}

.container{
  display:block;
  width: 90vw;
}

.space{
  height: 70px;
  width: 100%;
}

h3{
  display: block;
  font-size: 1.2em;
  letter-spacing: 0.1em;


}

h3 div{
    border: 3px solid white;
    display:inline-block;
    margin: 0 auto;
    padding: .5em;
}
/*#p1,#p3{
  height: 100vh;

}*/

.page-wrapper{
  margin: 0 2em 0 2em;

}

#p1 {
    min-height: 100vh;
    background-color: rgba(0,0,0,0.4);
    /*background:linear-gradient(to top, rgba(0,0,0,0.4)60%,rgba(0,0,0,0)) ;*/

}

#p2 {

  background-color:rgba(0,0,0,0.4);
  box-sizing: border-box;

}

#p3{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  padding-top: 10em;
  width: 100vw;
  box-sizing: border-box;
  background-color:rgba(0,0,0,0.4);
  margin-top: 0;

}

/*PAGE: threeJs*/

#p0{
  padding-top: 4%;
  height: 100vh;
  padding: 2em;
}

div#p0{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;

}

.title{

  color: white;

  margin-top:2em;
  font-weight: 500;


  /*height:45%;*/

}

#hello{
  font-size: 1.5em;
  margin:0 0 0.5em 0;
  font-weight: 300;
  color: rgba(255,255,255,0.9)
}

#jess{
 margin:0;
 font-size: 4.5em;
}

#fullstack{

 margin:1em;
 font-size: 1.5em;
}

#engaging{
  font-size: 1.2em;
  font-weight: lighter;
  color: rgba(255,255,255,0.9)

  display: inline-block;
    width: 250px;
}


/*PAGE: about*/

.profilePhoto{
  width:20vw;
  height:20vw;
  background-image: url(../images/profile_photo.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}


.name{
  border-radius: 50%;
  margin-bottom: 0.5em;

}
.center{
  text-align: center;
}

.blurb p{
  font-size: 1em;
  padding-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  max-width: 700px;
  font-weight: 300;
  color: rgba(255,255,255,0.9)


}
.p1box{
  margin: 0 auto;

}
.techBox{
 display: flex;
 justify-content: flex-start;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
  font-weight: 300;
}

.techBox div{
  margin: 0 1em;

}
.techBox p{
  margin-bottom: 0em;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
}
.techList{
  text-decoration: none;
  list-style: none;

}
/*PAGE: work*/

#workContainer {

  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;


}
#workContainer div{
  /*border: 2px solid rgba(243, 209, 58,0.5);*/
  margin: 1em 0.5em;
  font-size: 1em;



}

.work-box{
  min-width:300px;
  min-height: 300px;
  overflow: hidden;
  background-size: contain;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
}

.work-box:hover{
  transition: 0.2s ease-in-out;
  /*-ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);*/
      filter: brightness(50%);
}

.work-box, #workContainer a{

  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#github{
  width:30px;
}

.workText{
  max-width: 500px;
}
.projectTitle{



}
.projectThumb{
  width: 100%;

}

.work1{
  background-image: url("../images/ttt.png");
  background-size: contain;
}

.work2{
  background-image: url("../images/twitter.png");

}

.work3{
  background-image: url("../images/get.png");
}

.work4{
  background-image: url("../images/imgmaker.png");

}


/*PAGE: contact*/

.contact-left, .contact-left a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.3em;
  letter-spacing: 0.2em;
  font-size: 1.1em;
}

.contact-left a:hover{
  color:white;
  border-bottom: 1px solid rgba(255, 255, 255,1);
}


#world {
	position: fixed;
  top:0;
  right: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
  z-index: -100;
}

#p3a{
  height: 103vh;
  width: 101vw;
  color:white;
}



@media screen and (max-width: 500px) and (orientation: portrait){
  #jess{
    font-size: 2em;
  }
  #hello{
    font-size: 1.2em;
  }
  #engaging{
    font-size: 1em;
  }
  .blurb p{
    font-size: 1em;
  }
  .techBox p{
    font-size: 0.5em;
  }
  .page-wrapper{
    margin: 0 1.4em 0 1.4em;

  }


}
